<section class="container">
    
    <header>
        <h4><b>Nouvelle Mesure</b></h4>

        
    </header>
    <form action="#" class="form">
      <div class="input-box">
        <label><b>Date</b></label>
        <input type="date" placeholder="Entrer la Date" required />
      </div>
      <div class="input-box">
        <label><b>Mesure</b></label>
        <input type="text" placeholder="Entrer la Mesure" required />
      </div>


          <div class="column">
            <div class="input-box">
                <button class="btn btn-outline-success">Submit</button>
          </div>
          <div class="input-box">
            <button class="btn btn-outline-danger" type="reset">Annuler</button>
          </div>
          </div>

 
     
    </form>
  </section>
