<section class="container">
    
    <header>
        <h4><b>Propriete Grandeur</b></h4>

        <!--<h5>Barrage</h5>-->
    </header>
    <form action="#" class="form">
      <div class="input-box">
        <label><b>Nom de La Grandeur</b></label>
        <input type="text" placeholder="Entrer le nom de la grandeur" required [(ngModel)]="grandeur.nomGrandeur" name="nomGrandeur"/>
      </div>
      <div class="input-box">
        <label><b>Nom Abrege</b></label>
        <input type="text" placeholder="Entrer le nom abrege" required [(ngModel)]="grandeur.nomAbrege" name="nomAbrege"/>
      </div>
      <div class="column">
        <div class="input-box">
          <label><b>Type de Grandeur</b></label>
          <div class="select-box">
            <select  [(ngModel)]="grandeur.typeGrandeurId" name="typeGrandeurId"> 
              
              <option *ngFor="let type of typesGrandeur" [value]="type.id">{{ type.nom }}</option>
            </select>
          </div>
        </div>
        <div class="input-box">
          <label><b>Unite</b></label>
          <input type="text" placeholder="Entrer l'unite" required [(ngModel)]="grandeur.unite" name="unite"/>
        </div>
      </div>
      <div class="column">
        
        <div class="input-box">
          <label><b>Localisation</b></label>
          <select class="select-box"  [(ngModel)]="grandeur.localisationBarr" name=" localisationBarr">
            <option hidden>--- Choisir la localisation</option>
          <option>Aval</option>
          <option>Fondation</option>
          <option>Aval</option>
          <option>Mensuel</option>
          <option>Semestrielle</option>
          <option>Trimestrielle</option>
          </select>
        </div>
        
        <div class="input-box">
            <label><b>Mode d'acquisition</b></label>
            <div class="select-box">
            <select [(ngModel)]="grandeur.modeAcquisition" name=" modeAcquisition">
              <option hidden>{{--- Choisir le mode d'acquisition}}</option>
              <option>Manuel</option>
              <option>Automatique</option>
              <option>Calculee</option>
              <option>Convertie</option>
            </select>
          </div>
        </div>
        </div>
        <div class="column">
        
            <div class="input-box">
              <label><b>Frequence de Mesures</b></label>
              <div class="select-box">
              <select  [(ngModel)]="grandeur.frequenceMesure" name=" frequenceMesure">
                <option hidden>--- Choisir la frequence de mesures</option>
              <option>Annuelle</option>
              <option>Hebdo</option>
              <option>Journalier</option>
              <option>Mensuel</option>
              <option>Semestrielle</option>
              <option>Trimestrielle</option>
              </select>
            </div>
            </div>
          
          <div class="input-box">
            <label><b>Precision de la Mesures</b></label>
            <input type="number"  min="0" placeholder="Entrer la precision de la mesure" required [(ngModel)]="grandeur.precisionMesure" name="precisionMesure" />
          </div>
          </div>
          <div class="column">
            <hr style="color: black;">
            <hr>
          </div>

          <div class="column">
            <div class="input-box">
            <label><b>Coordonnee X</b></label>
            <input type="text" placeholder="Entrer le cordonnee X" required [(ngModel)]="grandeur.coordonneeX" name="coordonneeX" />
          </div>
          <div class="input-box">
            <label><b>Minimum</b></label>
            <input type="text"  required [(ngModel)]="grandeur.minimum" name="minimum" />
          </div>
          </div>

          <div class="column">
            <div class="input-box">
            <label><b>Coordonnee Y</b></label>
            <input type="text" placeholder="Entrer le cordonnee Y" required [(ngModel)]="grandeur.coordonneeY" name="coordonneeY"/>
          </div>
          <div class="input-box">
            <label><b>Maximum</b></label>
            <input type="text"  required [(ngModel)]="grandeur.maximum" name="maximum" />
          </div>
          </div>

          <div class="column">
            <div class="input-box">
            <label><b>Coordonnee Z</b></label>
            <input type="text" placeholder="Entrer le cordonnee Z" required [(ngModel)]="grandeur.coordonneeZ" name="coordonneeZ" />
          </div>
          <div class="input-box">
            <label><b>Valeur d'exclusion</b></label>
            <input type="text"  required [(ngModel)]="grandeur.valeurDexclusion" name="valeurDexclusion" />
          </div>
          </div>

          <div class="column">
            <div class="input-box">
                <button class="btn btn-outline-success" (click)="modifier(grandeur)">Submit</button>
          </div>
          <div class="input-box">
            <button class="btn btn-outline-success" (click)="closeDialog()">Annuler</button>
          </div>
          </div>

 
     
    </form>
  </section>
