<app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>


<div class="crud-page">
  
    <div class="crud-spacer"></div>
    <div class="login-container" >
      <div class="crud-container">
        
        <button class="btn btn-outline-success" ><b>Creer une nouvelle grandeur</b></button>
         <app-search></app-search> 
      </div>  
      <br>
            <table class="table table-bordered " id="tabback">
                    <thead>
                            <tr>
                                <th>Grandeur</th>
                                
                                <th>Action</th>
                            </tr>
                            
                        </thead>
                        <tbody class="table-group-divider">
                           
                            <tr>
                                <td><b>GRD1</b></td>
                                
                                <td>
                                    <button class="btn btn-outline-success">
                                      Supprimer
                                    </button>
                                    <a>&nbsp;</a>
                                    <button class="btn btn-outline-success">
                                      Modifier
                                  </button>
                                  <a>&nbsp;</a>
                                  <button class="btn btn-outline-success" routerLink="/#">
                                    Plus de Detail
                                </button>
                                </td>
                            </tr>
                            
    
                        </tbody>
            </table>
    </div>
  </div>
