<app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>


<div class="crud-page">
  
    <div class="crud-spacer"></div>
    <div class="login-container" >
      <div class="crud-container">
        
        <button class="btn btn-outline-success" (click)="AddProprieteGrandeurDialog()"><b>Creer une nouvelle grandeur</b></button>
        <app-search (onSearch)="performSearch($event)"></app-search>
      </div>  
      <br>
            <table class="table table-bordered " id="tabback">
                    <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Type de grandeur</th>
                                <th>Localisation</th>
                                <th>Mode d'acquisition</th>
                                <th>Unite</th>        
                                <th>Action</th>
                            </tr>
                            
                        </thead>
                        <tbody class="table-group-divider" *ngFor="let grandeur of grandeurs">
                           
                            <tr>
                                <td><b>{{grandeur.nomAbrege}}</b></td>
                                <td><b>{{grandeur.typeGrandeur?.nom}}</b></td>
                                <td><b>{{grandeur.localisationBarr.designation}}</b></td>
                                <td><b>{{grandeur.modeAcquisition}}</b></td>
                                <td><b>{{grandeur.unite}}</b></td>
                                
                                
                                <td>
                                    <button class="btn btn-outline-success">
                                      Supprimer
                                    </button>
                                    <a>&nbsp;</a>
                                    <button class="btn btn-outline-success" (click)="EditProprieteGrandeurDialog(grandeur.id)">
                                      Propriete
                                  </button>
                                  <a>&nbsp;</a>
                                  <button class="btn btn-outline-success" (click)="EditParamGrandeurDialog(grandeur.id)">
                                    Parametrage
                                </button>
                                <a>&nbsp;</a>
                                <button class="btn btn-outline-success" (click)="EditerMesures(grandeur.id)">
                                  Executer
                              </button>
                              
                                </td>
                            </tr>
                            
    
                        </tbody>
            </table>
    </div>
  </div>
