<section class="container">
    <header>
      <h4><b>Nouveau propriete</b></h4>
    </header>
    <form action="#" class="form" #loginForm="ngForm">
    <div class="column">
        <div class="input-box">
            <label><b>Processeur Id</b></label>
            <input type="text"  required name="processorId" />
        </div>
        <div class="input-box">
            <label><b>Processeur Unite Id</b></label>
            <input type="text"  required name="processorunitId" />
        </div>
      </div>
      <div class="column">
        <div class="input-box">
          <label><b>Nombre Decimal Degits</b></label>
          <input type="text"  required  name="nomberDecimalDegits" />
        </div>
        <div class="input-box">
          <label><b>Cote d'Appareil</b></label>
          <input type="number"  required  name="Cote Appareil" />
        </div>
      </div>

      <div class="column">
        <div class="input-box">
          <label><b>Nombre Decimal Degits</b></label>
          <input type="text"  required  name="nomberDecimalDegits" />
        </div>
        <div class="input-box">
          <label><b>Cote d'Appareil</b></label>
          <input type="number"  required  name="Cote Appareil" />
        </div>
      </div>
      <div class="column">
        <div class="input-box">
          <label><b>Date MBI</b></label>
          <input type="date" required  name="date mbi" />
        </div>
        <div class="input-box">
          <label><b>Heure MBI</b></label>
          <input type="time"  required  name="heure mbi" />
        </div>
      </div>

      <div class="column">
        <div class="input-box">
          <label><b>Valeur MBI</b></label>
          <input type="number"  required  name="valeur mbi" />
        </div>
        <div class="input-box">
          <label><b>Piezometre Plus Proche</b></label>
          <input type="number"  required  name="PiezometrePlusProche" />
        </div>
      </div>
      <div class="column">
        <div class="input-box">
          <label><b>Lecture de Base</b></label>
          <input type="number"  required  name="lecture de base" />
        </div>
        <div class="input-box">
          <label><b>Longueur</b></label>
          <input type="number"  required  name="longueur" />
        </div>
      </div>

      <div class="column">
        <div class="input-box">
          <label><b>Calibre</b></label>
          <input type="number"  required  name="calibre" />
        </div>
        <div class="input-box">
          <label><b>Ancre</b></label>
          <input type="number"  required  name="ancre" />
        </div>
      </div>

      <div class="column">
        <div class="input-box">
          <label><b>KL Calibrage</b></label>
          <input type="number" required  name="klcalibrage" />
        </div>
        <div class="input-box">
          <label><b>Lineare Zero</b></label>
          <input type="number"  required  name="lineare zero" />
        </div>
      </div>

      

      <div class="column">
        <div class="input-box">
            <button class="btn btn-outline-success">Submit</button>
      </div>
      <div class="input-box">
        <button class="btn btn-outline-danger" type="reset">Annuler</button>
      </div>
      </div>
    </form>
  </section>
  
