<app-sidenav2 (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav2>
<div class="crud-page">
  <div class="crud-spacer"></div>
  <div class="login-container">
    <div class="crud-container">
      <button class="btn btn-outline-success" (click)="openAddUserDialog()">
        <b>Creer un nouveau Utilisateur</b>
      </button>
      <app-search (onSearch)="performSearch($event)"></app-search>
    </div>
    <br>
    <table class="table table-bordered " id="tabback">
      <thead>
        <tr>
          <th>Utilisateur</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let utilisateur of utilisateurs  |  paginate: { itemsPerPage: itemsPerPage, currentPage: p }" >
          <td><b>{{ utilisateur.nom }} {{ utilisateur.prenom }}</b></td>
          <td><b>{{ utilisateur.role?.designation }}</b></td>
          <td>
            <button class="btn btn-outline-success" (click)="opendelGrDialog(utilisateur.id)" >Supprimer</button>
            <a>&nbsp;</a>
            <button class="btn btn-outline-success" (click)="openEditUserDialog(utilisateur.id)">
              Modifier
            </button>
            <a>&nbsp;</a>
            <button class="btn btn-outline-success" [routerLink]="['/detailUser', utilisateur.id]">
              Plus de Detail
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="display: flex; justify-content: center;">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
