.hidden-column td:nth-child(2) {
    display: none;
  }
  .login-container{
    margin-top: 90px;
    margin: auto;
    width: 50%;
    padding: 2vh;
    background-color: #d1f4c2;;
    border-radius: 20px;
    display: block;
    justify-content: center;
    align-items: center;
    height: 50vh;

}
.crud-spacer{
    height: 30vh;
}
.crud-container{
    margin: auto;
    width: 100%;
    padding: 2vh;
    background-color: #d1f4c2;;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh;
}
.crud-page{
    height: 100vh;
    width: 100%;
    background-color: #d1f4c2;
}
.inline-div {
    display: inline; /* or display: inline-block; */
  }
.parent{
    display: flex;
    flex-wrap: wrap;
  }
.child{
    flex-grow: 1;

}
::ng-deep{
  .ngx-pagination{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:4px;
  }
  .ngx-pagination li {
  width:35px;
  height:35px;
  border-radius: 50% !important;
  background : #f8f8f8;
  display:flex;
  justify-content:center;
  align-items:center;
  
  &.small-screen{
  display: none !important;
  }
  &.pagination-previous,
  &.pagination-next{
  a,span{
  width:100%;
  height:100%;
  border-radius:50%;
  overflow:hidden;
  color:#f8f8f8;
  }
  }
}
}
  
body{
  background-color: #d1f4c2;
}