<app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
<div class="crud-page">
  
    <div class="crud-spacer"></div>
    <div class="login-container" >
        <div class="crud-container">
            <h3>Site:</h3>
             
          </div>  
      <br>
      <br>
<table class="table table-bordered " id="tabback">
    <tbody *ngIf="site">
        <tr>
            <td>
                <strong>Nom:</strong>
            </td>
            <td>
                <span>
                    {{site.nom}}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Localisation :</strong>
            </td>
            <td>
                <span>
                    {{site.localisationBarr?.designation}}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Type de Site:</strong>
            </td>
            <td>
                 <span>
                  {{site.type}}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Capacite:</strong>
            </td>
            <td>
                 <span>
                  {{site.capacite}}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Ville Plus Proche :</strong>
            </td>
            <td>
                <span>
                    {{site.villePlusProche}}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Hauteur de Barrage:</strong>
            </td>
            <td>
                <span>
                    {{site.hauteurBarr}}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Distance de Ville Plus Proche :</strong>
            </td>
            <td>
                <span>
                    {{site.distVillePlusProche}}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Code Retenue Normal :</strong>
            </td>
            <td>
                <span>
                   {{site.codeRetNormal}}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Date Mise En Service :</strong>
            </td>
            <td>
                <span>
                    {{site.dateMiseEnServ | date:'dd/MM/yyyy'}}
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <strong>La Retenue :</strong>
            </td>
            <td>
                <span>
                    {{site.laRetenue}}
                </span>
            </td>
        </tr>
    </tbody>
</table>
<div class="crud-container">
    <button class="btn btn-outline-success" (click)="openDialog()">  <i class="fas fa-pencil-alt"></i> Modifier</button>
    <a>&nbsp;</a><a>&nbsp;</a>
    <button class="btn btn-outline-success"><i class="fas fa-trash-alt"></i> Supprimer</button>
</div>
</div>
</div>
