<app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
<div class="crud-page">
  
    <div class="crud-spacer"></div>
    <div class="login-container" >
      <div class="crud-container">
        
        <button class="btn btn-outline-success" (click)="openDialogee()" ><b>Creer une Agence</b></button>
         <app-search></app-search> 
      </div>  
      <br>
            <table class="table table-bordered " id="tabback">
                    <thead>
                            <tr>
                                <th>Agence</th>

                                <th>Ville</th>
                                
                                <th>Action</th>
                            </tr>
                            
                        </thead>
                        <tbody class="table-group-divider">
                           
                            <tr *ngFor="let agence of agences">
                              <td><b>{{agence.nom }}</b></td>
                              <td><b>{{agence.ville }}</b></td>
                                
                                <td>
                                    <button class="btn btn-outline-success" (click)="Suppr(agence.id)">
                                      Supprimer
                                    </button>
                                    <a>&nbsp;</a>
                                    <button class="btn btn-outline-success" (click)="Modif()">
                                      Modifier
                                  </button>
                                  <a>&nbsp;</a>
                                  <button class="btn btn-outline-success" (click)="afficherDetailsAgence(agence.id)">
                                    Plus de Detail
                                </button>
                                </td>
                            </tr>
                            
    
                        </tbody>
            </table>
    </div>
  </div>