<app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>

<div class="crud-page">
  
    <div class="crud-spacer"></div>
    <div class="login-container" >
        <div class="crud-container">
            <h3>Agence :</h3>
             
          </div>  
      <br>
      <br>
<table class="table table-bordered " id="tabback">
    <tbody>
        <tr>
            <td>
                <strong>Nom:</strong>
            </td>
            <td>
                <span>
                    Ag RBT
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Ville:</strong>
            </td>
            <td>
                <span>
                    Rabat
                </span>
            </td>
        </tr>

        
     
            
    </tbody>
</table>
<div class="crud-container">
    <button class="btn btn-outline-success">  <i class="fas fa-pencil-alt"></i> Modifier</button>
    <a>&nbsp;</a><a>&nbsp;</a>
    <button class="btn btn-outline-success"><i class="fas fa-trash-alt"></i> Supprimer</button>
</div>
</div>
</div>
