<div class="login-page">
    <div class="login-spacer"></div>
    <div class="login-container">
      <div id="login-fab" class="mdl-color--accent mdl-color-text--white">
        <i id="lock-icon" class="material-icons">lock</i>
      </div>
      <h3 class="card-heading">
        CondorV
      </h3>
      <form class="login-form" #loginForm="ngForm">
        <mat-form-field appearance="outline">
          <input  [(ngModel)]="user.Login" name="login" matInput placeholder="Nom d'utilisateur" class="custom-input">
        </mat-form-field>
   
        <mat-form-field appearance="outline">
          <input [(ngModel)]="user.Password" name="password" matInput type='password' placeholder="Password" class="custom-input">
        </mat-form-field>
      </form>
      <div class="buttons">
        <div class="login">
          <button (click)="login(user)"  mat-raised-button id="scnt">Se Connecter</button>
        </div>     
      </div>
    </div>
  </div>