.login-page{
    height: 100vh;
    width: 100%;
    background-image: url("/assets/440662.jpg");
}

.login-spacer{
    height: 20vh;
}

.login-container{
    margin: auto;
    width: 300px;
    padding: 2vh;
    background-color: #eff1ef;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

}

.login-form{
    display: flex;
    flex-direction: column;
}

#login-fab {
	border-radius: 50%;
    height: 86px;
    margin: auto;
    min-width: 86px;
    width: 86px;
    overflow: hidden;
    background: #7ba428;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
    margin-top: -35px;
    text-align: center;
    left: 0;
    right: 0;
}

#lock-icon{
    line-height: 86px;
    color: #fff;
}
.card-heading{
    text-align: center;
    color: rgba(10, 10, 10, 10.31);
    font-weight: bold;
    
}

.buttons .login{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.buttons .login > button{
    width: 100%;
}

.buttons .register{
    display: flex;
    padding-top: 2vh;
    padding-bottom: 2vh;
    justify-content: space-between;
}

#scnt{
    border-radius: 12px;
    background-color: #7ba428;
    color: #fff;
}

.custom-input {
    border-radius: 80px;
  }
  