<div class="barrage-page">
    <div class="login-container">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Sites</th>
                    <th>Localisation</th>
                    <th>Capacite</th>
                    <th>Type de site</th>
                    <th>Hauteur sur Fondation(m)</th>
                    <th>Ville Plus Proche</th>
                    <th>Date mise en service</th>
                    <th>Code de la retenue(mm3)</th>
                    <th>Agence</th>
                    <th>Authentification</th>
                    
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let site of sites">
                    <td><b>{{ site.nom }}</b></td>
                    <td><b>{{ site.localisationBarr?.designation}}</b></td>
                    <td><b>{{ site.capacite }}</b></td>
                    <td><b>{{ site.type }}</b></td>
                    <td><b>{{ site.hauteurBarr }}</b></td>
                    <td><b>{{ site.villePlusProche }}</b></td>
                    <td><b>{{ site.dateMiseEnServ }}</b></td>
                    <td><b>{{ site.laRetenue }}</b></td>
                    <td><b>{{ site.agence?.nom }}</b></td>
                    

                    <td>
                        <button *ngIf="(utilisateurconnecte.siteId !=null && utilisateurconnecte.siteId === site.id) || (utilisateurconnecte.agenceId != null && (utilisateurconnecte.agenceId === site.agenceId)) || (utilisateurconnecte.role.designation === 'Admin')"
                         (click)="nav(site.id)" class="btn btn-outline-success">
                            Se Connecter
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
