<div class="barrage-page">
    <div class="login-container">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Sites</th>
                    <th>Type de site</th>
                    <th>Localisation</th>
                    <th>Agence</th>
                    <th>Authentification</th>
                    
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let site of sites">
                    <td><b>{{ site.nom }}</b></td>
                    <td><b>{{site.type}}</b></td>
                    <td><b>{{ site.localisationBarr }}</b></td>
                    <td><b>{{ site.agence?.nom }}</b></td>
                    <td>
                        <button *ngIf="(utilisateurconnecte.siteId !=null && utilisateurconnecte.siteId === site.id) || (utilisateurconnecte.agenceId != null && (utilisateurconnecte.agenceId === site.agenceId)) || (utilisateurconnecte.role.designation === 'Admin')"
                         (click)="nav(site.id)" class="btn btn-outline-success">
                           Acceder
                        </button>
                        <a>&nbsp;</a><a>&nbsp;</a>
                        <button *ngIf="utilisateurconnecte.role.designation=='Admin'" class="btn btn-outline-success"><i class="fas fa-trash-alt" (click)="opendelGrDialog(site.id)"></i> Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
