<section class="container">
  <header>
    <h4><b>Modifier Agence</b></h4>
  </header>
  <form action="#" class="form" (ngSubmit)="onSubmit()">
    <div class="input-box">
      <label><b>Nom</b></label>
      <input type="text" placeholder="Entrer le nom" required name="nom" [(ngModel)]="agence.nom" />
    </div>
    <div class="input-box">
      <label><b>Ville</b></label>
      <input type="text" placeholder="Entrer la ville" required name="ville" [(ngModel)]="agence.ville" />
    </div>
    <div class="column">
      <div class="input-box">
          <button class="btn btn-outline-success" (click)="onSubmit()">Submit</button>
    </div>
    <div class="input-box">
      <button class="btn btn-outline-danger" (click)="closeDialog()">Annuler</button>
    </div>
    </div>
  </form>
</section>
