<section class="container">
    <header>
      <h4><b>Parametrage</b></h4>
    </header>
    <form action="#" class="form" #loginForm="ngForm">
    <div class="column">
        <div class="input-box">
            <label><b>Processeur Id</b></label>
            <input type="text"  required [(ngModel)]="grandeur.processorId" name="processorId" />
        </div>
        <div class="input-box">
            <label><b>Processeur Unite Id</b></label>
            <input type="text"  required [(ngModel)]="grandeur.processorUnitId" name="processorUnitId"  />
        </div>
      </div>
      <div class="column">
        <div class="input-box">
            <label><b>Processeur Name</b></label>
            <input type="text"  required [(ngModel)]="grandeur.processorName" name="processorName" />
        </div>
        <div class="input-box">
            <label><b>Nom complet</b></label>
            <input type="text"  required [(ngModel)]="grandeur.nomComplet" name="nomComplet"  />
        </div>
      </div>
      <div class="column">
        <div class="input-box">
          <label><b>Nombre Decimal Degits</b></label>
          <input type="text"  required  [(ngModel)]="grandeur.numberDecimalDigits" name="numberDecimalDigits"   />
        </div>
        <div class="input-box">
          <label><b>Cote d'Appareil</b></label>
          <input type="text"  required  [(ngModel)]="grandeur.codeAppareil" name="codeAppareil"   />
        </div>
      </div>

      <div class="column">
        <div class="input-box">
          <label><b>Date MBI</b></label>
          <input type="text" required  [(ngModel)]="grandeur.dateMBI" name="dateMBI"/>
        </div>
        <div class="input-box">
          <label><b>Heure MBI</b></label>
          <input type="text"  required  [(ngModel)]="grandeur.heureMBI" name="heureMBI"/>
        </div>
      </div>

      <div class="column">
        <div class="input-box">
          <label><b>Valeur MBI</b></label>
          <input type="text"  required  [(ngModel)]="grandeur.valeurMBI" name="valeurMBI"/>
        </div>
        <div class="input-box">
          <label><b>Piezometre Plus Proche</b></label>
          <input type="text"  required  [(ngModel)]="grandeur.piezomPlusProche" name="piezomPlusProche" />
        </div>
      </div>
      <div class="column">
        <div class="input-box">
          <label><b>Lecture de Base</b></label>
          <input type="text"  required  [(ngModel)]="grandeur.lectureDeBase" name="lectureDeBase" />
        </div>
        <div class="input-box">
          <label><b>Longueur</b></label>
          <input type="text"  required  [(ngModel)]="grandeur.longueur" name="longueur" />
        </div>
      </div>

      <div class="column">
        <div class="input-box">
          <label><b>Calibre</b></label>
          <input type="text"  required  [(ngModel)]="grandeur.calibre" name="calibre"  />
        </div>
        <div class="input-box">
          <label><b>Ancre</b></label>
          <input type="text"  required [(ngModel)]="grandeur.ancre" name="ancre"  />
        </div>
      </div>

      <div class="column">
        <div class="input-box">
          <label><b>KL Calibrage</b></label>
          <input type="number" required  [(ngModel)]="grandeur.klCalibrage" name="klCalibrage"  />
        </div>
        <div class="input-box">
          <label><b>Lineare Zero</b></label>
          <input type="number"  required [(ngModel)]="grandeur.lineaireZero" name="lineaireZero"   />
        </div>
      </div>

      

      <div class="column">
        <div class="input-box">
            <button class="btn btn-outline-success" (click)="modifier(grandeur)">Submit</button>
      </div>
      <div class="input-box">
        <button class="btn btn-outline-danger" (click)="closeDialog()">Annuler</button>
      </div>
      </div>
    </form>
  </section>
  
