<section class="container">
    
    <header>
        <h4><b>Nouveau Utilisateur</b></h4>
    </header>
    <form action="#" class="form">
      <div class="input-box">
        <label><b>Nom</b></label>
        <input type="text" placeholder="Entrer le nom" required />
      </div>
      <div class="input-box">
        <label><b>Prenom</b></label>
        <input type="text" placeholder="Entrer le prenom" required />
      </div>
      <div class="column">
        <div class="input-box">
          <label><b>Nom d'utilisateur</b></label>
          <input type="text" placeholder="Entrer le Nom d'Utilisateur" required />
        </div>
        <div class="input-box">
          <label><b>Email</b></label>
          <input type="text" placeholder="Entrer Email" required />
        </div>
      </div>

      <div class="input-box address">
        <label><b>Mot de Passe</b></label>
        <input type="password" placeholder="Entrer le Mot de Passe" required />
        
        <div class="column">
          <div class="select-box">
            <select>
              <option hidden>--- Choisir le role d'utilisateur</option>
              <option>Admin Agence</option>
              <option>Admin Barrage</option>
            </select>
          </div>
        </div>

      </div>
      <button class="btn btn-outline-success">Submit</button>
    </form>
  </section>
